.page-btn {
  border-radius: 4px;
  border: 1px solid #30f3a8;
  color: #fff;
  background: #30f3a8;
  text-align: center;
  display: inline-block;
  font-size: 15px;
  padding: 10px 20px;
}

.outline {
  background: #fff;
  border: 1px solid #30f3a8;
  color: #30f3a8;
}

.outline-red {
  background: #fff;
  border: 1px solid red;
  color: red;
}

.page-btn-round {
  border-radius: 30px;
}

.page-btn-dark {
  background: #100b0b;
}

.page-btn-disabled {
  cursor: not-allowed;
}