.page-btn {
  border-radius: 4px;
  border: 1px solid transparent;
  color: #fff;
  background-color: #09bdf0;
  text-align: center;
  display: inline-block;
  font-size: 15px;
  padding: 10px 20px;
  transition: background-color 0.3s ease;
}
.page-btn:hover {
  background-color: #15a8d1;
}

.page-btn-no-hover {
  border-radius: 4px;
  border: 1px solid transparent;
  color: #fff;
  background-color: #09bdf0;
  text-align: center;
  display: inline-block;
  font-size: 15px;
  padding: 10px 20px;
  transition: background-color 0.3s ease;
}

.page-btn-round {
  border-radius: 30px;
  border: 1px solid transparent;
  color: #fff;
  background-color: #09bdf0;
  text-align: center;
  display: inline-block;
  font-size: 15px;
  padding: 10px 20px;
  transition: background-color 0.3s ease;
}

.page-btn-dark {
  border-radius: 4px;
  border: 1px solid transparent;
  color: #fff;
  background-color: #100b0b;
  text-align: center;
  display: inline-block;
  font-size: 15px;
  padding: 10px 20px;
  transition: background-color 0.3s ease;
}

.page-btn-dark-round {
  border-radius: 30px;
  border: 1px solid transparent;
  color: #fff;
  background-color: #100b0b;
  text-align: center;
  display: inline-block;
  font-size: 15px;
  padding: 10px 20px;
  transition: background-color 0.3s ease;
}

.page-btn-disabled {
  border-radius: 4px;
  border: 1px solid transparent;
  color: #fff;
  background-color: #09bdf0;
  text-align: center;
  display: inline-block;
  font-size: 15px;
  padding: 10px 20px;
  transition: background-color 0.3s ease;
  cursor: not-allowed;
}