.form-required {
  color: red;
}

.form-label {
  margin-bottom: 8px;
  display: block;
  font-size: 14px;
  font-weight: 500;
}

.form-input {
  border: 1px solid rgb(227, 225, 225);
  padding: 10px 8px;
  background: #fff;
  outline: none;
  border-radius: 4px;
  max-width: 100%;
  transition: 0.3s ease;
  width: 100%;
}

.form-input:focus {
  outline: 1px soild blue;
}

.form-check-wrap {
  transition: 0.3s ease;
  margin-right: 15px;
}

.form-check {
  margin-right: 10px;
}

.form-action-right {
  display: flex;
  justify-content: flex-end;
}

.form-action-left {
  display: flex;
  justify-content: flex-start;
}

.form-error-text {
  color: red;
  font-size: 0.875rem;
  margin-top: 4px;
  display: inline-block;
}