:root {
  --clr-primary-color: #09bdf0;
  --clr-primary-color-light: #dee7f2;
  --clr-black-color: #100b0b;
  --clr-gray-color-medium: #877a7a;
  --clr-gray-white-color: #efefef;
  --clr-gray-white-color-80: #efefefcc;
  --clr-gray-color-light: #cccccc66;
  --clr-white: #fff;
  --clr-white-light-color: #fafafa;
  --clr-black-color-alt: #0f1212cc;
  --clr-primary-hover-color: #15a8d1;
  --font-size-tiny: 0.75rem;
  --font-size-small: 0.875rem;
  --font-size-auto: 1rem;
  --font-size-body: 0.9375rem;
  --font-size-h2: 1.125rem;
  --font-size-h1: 1.375rem;
  --font-lg: 1.5rem;
  --font-xl: 1.75rem;
  --font-xxxl: 2.25rem;
}

@media screen and (max-width: 500px) {
  :root {
    --font-size-tiny: 0.75rem;
    --font-size-small: 0.875rem;
    --font-size-auto: 0.9375rem;
    --font-size-body: 0.9rem;
    --font-size-h2: 1.0rem;
    --font-size-h1: 1.2rem;
    --font-lg: 1.3rem;
    --font-xl: 1.5rem;
    --font-xxxl: 1.8rem;
  }
}
.header {
  border-bottom: 1px solid var(--clr-gray-color-light);
  background: #fff;
}

.header-nav-link {
  padding: 20px;
  display: inline-block;
  border-bottom: 1px solid transparent;
  color: var(--clr-gray-color-medium);
  transition: 0.3s ease;
}
.header-nav-link:hover {
  border-bottom: 1px solid var(--clr-primary-color);
  color: var(--clr-primary-color);
}

.search {
  width: 30%;
}

.search-input input {
  border-radius: 30px;
  border: 1px solid var(--clr-gray-white-color);
}
.search-input input:focus {
  border: 1px solid transparent;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  background: #fff;
}

.h-icon-bars {
  display: none;
}

.h-mobile-menu {
  height: 100vh;
  width: 0%;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 99;
  background: var(--clr-white);
}

.h-mobile-menu.active {
  width: 100%;
}

@media screen and (max-width: 500px) {
  #h-github-link,
#h-search {
    display: none;
  }
  .logo-text {
    margin-top: 10px;
  }
  .h-icon-bars {
    display: block;
  }
  .icon-lg .la {
    font-size: var(--font-xl);
    font-size: 600;
  }
}