.header {
  border-bottom: 1px solid rgba(204, 204, 204, 0.4);
  background: #fff;
}

.header-nav-link {
  padding: 20px;
  display: inline-block;
  border-bottom: 1px solid transparent;
  color: #877a7a;
  transition: 0.3s ease;
}

.header-nav-link:hover {
  border-bottom: 1px solid #30f3a8;
  color: #30f3a8;
}