.modal-dialog {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  pointer-events: none;
  display: none;
  outline: none;
  transition: 0.4s ease;
}

.modal-dialog.show {
  display: block;
  pointer-events: auto;
  align-items: center;
  justify-content: center;
  background: rgba(0, 0, 0, 0.2901960784);
}

.modal-header {
  margin-bottom: 2rem;
  display: flex;
  justify-content: space-between;
}

.modal-title {
  font-size: 20px;
  font-weight: 700;
  padding: 0 15px;
}

.modal-close {
  cursor: pointer;
  height: 2rem;
  width: 2rem;
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 6px;
  background: #f1f4f3;
  border-radius: 50%;
  justify-self: flex-end;
}

.modal-container {
  max-width: 800px;
  height: 100%;
  margin: 0 auto;
}

.modal-wrap {
  padding-top: 1.75rem;
  padding-bottom: 1.75rem;
}

.modal-content {
  width: 0;
  background: #fff;
  border-radius: 10px;
  opacity: 0;
  transition: 0.3s ease;
  padding: 20px;
  transition: 0.4s ease;
  /* box-shadow: 0 0 4px 4px #ede3e399; */
}

.modal-content.is-active {
  width: 100%;
  opacity: 1;
}

@media (max-width: 768px) {
  .modal-container {
    max-width: 500px;
    margin: 0 auto;
  }
}
@media (max-width: 500px) {
  .modal-container {
    max-width: 350px;
    margin: 0 auto;
  }
}