@import "../variables.scss";

@mixin button($bg : $primary-color ,$borderRadius : 4px){
  border-radius: $borderRadius;
  border: 1px solid transparent;
  color: $white;
  background-color: $bg;
  text-align: center;
  display: inline-block;
  font-size: $font-size-body;
  padding:10px 20px;
  transition: background-color 0.3s ease;
}

.page-btn {
  @include button();
  &:hover{
    background-color: $primary-hover-color;
  }
}

.page-btn-no-hover{
  @include button()
}

.page-btn-round {
  @include button($primary-color , 30px);
}

.page-btn-dark {
  @include button($black-color);
}

.page-btn-dark-round{
  @include button($black-color , 30px);
}

.page-btn-disabled {
  @include button();
  cursor: not-allowed;
}