@import "../variables.scss";

.base-table{
  font-size: 14px;
  width: 100%;
  table{
    width: 100%;
    border-collapse: collapse;
  }
  thead{
    // background:$gray-white-color;
    th{
      text-align: left;
      padding:14px 8px;
    }
  }

  tbody{
    td{
      padding:10px 8px;
    }
    // tr{
    //   &:hover{
    //     background:$gray-white-color;
    //   }
    // }
  }
}