@import "../variables.scss";

.header {
  border-bottom: 1px solid $gray-color-light;
  background: #fff;
}

.header-nav-link {
  padding: 20px;
  display: inline-block;
  border-bottom: 1px solid transparent;
  color: $gray-color-medium;
  transition: 0.3s ease;
  &:hover {
    border-bottom: 1px solid $primary-color;
    color: $primary-color;
  }
}

.search {
  width: 30%;
}

.search-input {
  input {
    border-radius: 30px;
    border: 1px solid $gray-white-color;
    &:focus {
      border: 1px solid transparent;
      box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
      background: #fff;
    }
  }
}
.h-icon-bars {
  display: none;
}

.h-mobile-menu {
  height: 100vh;
  width: 0%;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 99;
  background: $white;
}

.h-mobile-menu.active {
  width: 100%;
}

.h-reading-category{
  column-count: 2;
}

@media screen and (max-width: $small) {
  #h-github-link,
  #h-search {
    display: none;
  }

  .logo-text {
    margin-top: 10px;
  }

  .h-icon-bars {
    display: block;
  }

  .icon-lg {
    .la {
      font-size: $font-xl;
      font-size: 600;
    }
  }
}
