@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&family=Source+Sans+Pro:wght@200;300;400;600;700&display=swap');
@import "./variables.scss";

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Poppins', sans-serif;
  color: $black-color;
}

img {
  max-width: 100%;
}

ul {
  list-style: none;
}

a {
  color: $black-color;
}

input,
textarea,
select {
  font-family: inherit;
}

[type="button"]:not(:disabled),
[type="reset"]:not(:disabled),
[type="submit"]:not(:disabled),
button:not(:disabled) {
  cursor: pointer;
}
/*----------Common Classes------*/
.container {
  max-width: 1140px;
  margin: 0 auto;
}
/*----------Common Classes------*/
