@import "./variables.scss";

/* general hover effect*/
.hover{
  transition: background-color , color 0.3s ease;
  &:hover{
    background-color: $primary-color;
    color:#fff
  }
}
/*colors*/
.clr-main {
  color: $primary-color;
}

.clr-gray {
  color: $gray-color-medium;
}

.clr-black {
  color: $black-color;
}
.clr-white {
  color: $white;
}

/*backgrounds*/

.b-main {
  background: $primary-color;
}

.b-white {
  background: $white;
}

.b-black {
  background: $black-color;
}

.b-gray {
  background: $gray-white-color;
}

/*font sizes*/

.f-tiny {
  font-size: $font-size-tiny;
}

.f-small {
  font-size: $font-size-small;
}

.f-auto {
  font-size: $font-size-auto;
}

.f-body {
  font-size: $font-size-body;
}

.f-h2 {
  font-size: $font-size-heading-2;
}

.f-h1 {
  font-size: $font-size-heading-1;
}

.f-large-80 {
  font-size: $font-large-80;
}
.f-large-100 {
  font-size: $font-large-100;
}

/*borders*/

.bdr {
  border: 1px solid $gray-color-light;
}

.bdr-bottom {
  border-bottom: 1px solid $gray-color-light;
}
.bdr-top {
  border-top: 1px solid $gray-color-light;
}
.bdr-left {
  border-left: 1px solid $gray-color-light;
}
.bdr-right {
  border-right: 1px solid $gray-color-light;
}

/*flex utils*/

.flx {
  display: flex;
}

.flx-x-btwn {
  justify-content: space-between;
}

.flx-end {
  justify-content: flex-end;
}

.flx-start {
  justify-content: flex-start;
}

.flx-x-ctr {
  justify-content: center;
}

.flx-y-ctr {
  align-items: center;
}

/*Box Shadows*/

.shadow-normal {
  box-shadow: rgb(0 0 0 / 10%) 0px 0px 10px 0px;
}

/*Margins*/
$spaceamounts: (
  2,
  3,
  4,
  5,
  6,
  8,
  9,
  10,
  12,
  15,
  18,
  20,
  25,
  30,
  35,
  40,
  45,
  50,
  75,
  100
); // Adjust this to include the pixel amounts you need.
$sides: (top, bottom, left, right); // Leave this variable alone

@each $space in $spaceamounts {
  .round-#{$space} {
    border-radius: #{$space}px !important;
  }

  @each $side in $sides {
    .m#{str-slice($side, 0, 1)}-#{$space} {
      margin-#{$side}: #{$space}px !important;
    }
    .p#{str-slice($side, 0, 1)}-#{$space} {
      padding-#{$side}: #{$space}px !important;
    }
  }
}

@each $space in $spaceamounts {
  .m-#{$space} {
    margin: #{$space}px !important;
  }

  .mt-#{$space} {
    margin-top: #{$space}px !important;
  }

  .mb-#{$space} {
    margin-bottom: #{$space}px !important;
  }

  .ml-#{$space} {
    margin-left: #{$space}px !important;
  }

  .mr-#{$space} {
    margin-right: #{$space}px !important;
  }

  .p-#{$space} {
    padding: #{$space}px !important;
  }
}

/*Paddings*/
$width: (10, 20, 25, 30, 40, 50, 60, 70, 75 , 80, 90, 100);

@each $w in $width {
  $v: percentage($w/100);
  .w-#{$w} {
    width: #{$v} !important;
  }
}

/* Display Properties */

$display: (inline, inline-block, block, inline-block, flex, inline-flex);
$text: (left, right, center, justify, initial, inherit);

@each $d in $display {
  .d-#{$d} {
    display: #{$d} !important;
  }
}

@each $t in $text {
  .text-#{$t} {
    text-align: #{$t} !important;
  }
}

@for $value from 1 through 12 {
  $width: percentage($value/12);
  .w-#{$value} {
    width: $width;
  }
}

[class^="w-"] {
  padding: 0 15px;
}
